
* {
  margin: 0;
  padding: 0;
}

aside, footer, header, section {
   display: block;
}

body {
  background: #f5f5f5;
  color: #4d4d4d;
  margin: 0 auto;
  font: 14px 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #b83f45;
}

h3 {
  display: block;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px dashed #c5c5c5;
}

body > .learn {
  display: absolute;
  width: 21vw;
  height: 34vw;
  margin-top: 8px;
  margin-left: 8px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .6);
  color: #000;
}

.learn span {
  display: block;
}

.learn h3 {
  font-size: 24px;
  margin: 12px 0;
  font-weight: lighter;
}

.learn h5{
  font-size: 14px;
  font-weight: lighter;
}

.quote p {
  font-size: 14.8px;
  font-style: italic;
  background: rgba(0, 0, 0, .04);
  border-radius: 5px;
  padding: 11px;
  line-height: 20px;
}

.quote footer  {
  margin: 15px 0 15px 205px;
}

.learn footer {
  line-height: 19px;
}

.todoapp {
  position: relative;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  margin: -340px 0 0 35.5em;
  width: 530px;
  height: 64px;
}


.todoapp h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  top:-110px;
  font-size: 95px;
  color: rgba(175, 47, 47, 0.15);
  font-weight: lighter;
}

.todoapp .new-todo {
  width: 456px;
  height: 32px;
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.todoapp .new-todo::placeholder {
  color: lightgrey;
  font-size: 22px;
  font-style: italic;
}

.info {
  position: absolute;
  text-align: center;
  width: 100%;
  color: #bfbfbf;
  font-size: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  right: -127px;
  margin-top: 57px;
}

.info p {
  line-height: 19px;
}

.info a {
  color: inherit;
  text-decoration: none;
}
